.project-container {
    background-color: #9fc7db;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: scale-down;
    justify-content: start;
    text-align: center;
    padding-bottom: 20px;
    position: sticky;
}

.projetos-background {
    width: 100%;
    height: 20vh;
    background: url(/img/projetoBanner.jpg) repeat fixed bottom;
    border-bottom: 2px white solid;
    background-size: cover;
}

.github-link {
  text-decoration: none;
  color: #000000;
  margin-bottom: 0.5rem;
}

.github-link:hover {  
  color: #5e5e5e;
  transition: 0.3s ease-out;
}

.temp-msg {
  padding-top: 40px;
}