.footer-container {
    background-color: #242424;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer-container>p {
    color: #61DBFB;
    font-size: 32px;
    text-shadow: 5px 5px 5px #000000;
}

.footer-link-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}

.footer-link-items h2 {
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: start;
}

.footer-link-items {
  color: #cac7c7;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  box-sizing: border-box;
  margin-right: 80px;
}

.footer-link-items a {
  color: #fff;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #cac7c7;
  transition: 0.3s ease-out;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website-rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }

  .footer-container>p {
    font-size: 24px;
  }

  .footer-link-items {
    align-self: center;
  }
}